@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@layer base {
   body {
      @apply dark:bg-dark-bg dark:text-dark-text bg-[#F7F8FA] text-light-text;
   }
}
html {
   font-family: "Inter", sans-serif;
   scroll-behavior: smooth;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
   -webkit-appearance: none;
   margin: 0;
}

.custom-number-input input:focus {
   outline: none !important;
}

.custom-number-input button:focus {
   outline: none !important;
}
